@model ImageWeb.Models.LogModel

@{
    ViewBag.Title = "Contact";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogEntries[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogEntries[0].Message)
        </th>
    </tr>

    @foreach (var item in Model.LogEntries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }
</table>