@model ImageWeb.Models.ImageItem
@{
    ViewBag.Title = "ImageDeleter";
}

<h2>ImageDeleter</h2>

<h3>Are you sure you want to delete this image?</h3>
<div class="thumbnail">
    <img src="@Url.Content(Model.ImageRelativePathThumbnail)" alt="" class="circular-image" width="242" height="200">
    <div class="caption">
        <h4>@Model.Name</h4>
        <p>
            <a href="@Url.Action("Images", "Home", new { imageFullUrl = Model.ImageFullUrl })" id="btnView" class="btn btn-info btn-xs" role="button">No</a>
            <a href="@Url.Action("DeleteImage", "Home", new { imageFullUrl = Model.ImageFullUrl })" id="btnDelete" class="btn btn-danger btn-xs" role="button">Yes</a>
        </p>
    </div>
</div>